ion-card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  }
  
  ion-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  ion-item {
    margin-bottom: 12px;
  }
  
  ion-header {
    background-color: #b23e0c; 
    color: white; 
    height: 80px; 
  
    ion-toolbar {
      font-size: 20px; 
      justify-content: center; 
    }
  }
  
  ion-title {
    color: #b23e0c;
  }