<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Fotos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="fotoForm" (ngSubmit)="guardarFoto()">

    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input formControlName="titulo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Seleccionar imagen</ion-label>
      <input type="file" (change)="seleccionarArchivo($event)">
    </ion-item>

    <ion-button expand="block" class="btn-crear" type="submit">
      {{ editandoId ? 'Actualizar Foto' : 'Subir Foto' }}
    </ion-button>

    <ion-button *ngIf="editandoId"
                expand="block"
                class="btn-cancelar"
                color="medium"
                (click)="cancelarEdicion()">
      Cancelar
    </ion-button>

  </form>
  
  <ion-list>
    <ion-item *ngFor="let foto of fotos">

      <ion-thumbnail slot="start">
        <img [src]="foto.url">
      </ion-thumbnail>

      <ion-label>
        {{ foto.titulo }}
      </ion-label>

      <ion-button fill="clear" color="primary" slot="end" (click)="editarFoto(foto)">
        Editar
      </ion-button>

      <ion-button fill="clear" color="danger" slot="end" (click)="eliminarFoto(foto.id)">
        Eliminar
      </ion-button>

    </ion-item>
  </ion-list>

</ion-content>
