/* -------------------------------------
   ENCABEZADO (MISMO ESTILO DE LA APP)
--------------------------------------*/
ion-header {
  background-color: #b23e0c;
  color: white;
  height: 80px;

  ion-toolbar {
    font-size: 20px;
    justify-content: center;
  }
}

ion-title {
  color: #b23e0c;
}

/* -------------------------------------
   FORMULARIO
--------------------------------------*/
ion-item {
  margin-bottom: 12px;
}

/* BOTÓN SUBIR / ACTUALIZAR */
.btn-crear {
  display: block;
  width: 90%;
  max-width: 280px;
  margin: 20px auto;
  height: 48px;
  font-size: 16px;
  --border-radius: 8px;
}

/* BOTÓN CANCELAR */
.btn-cancelar {
  display: block;
  width: 90%;
  max-width: 280px;
  margin: 0 auto 20px auto;
  height: 48px;
  font-size: 16px;
  --border-radius: 8px;
}

/* -------------------------------------
   GALERÍA EN GRID
--------------------------------------*/
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 16px;
  padding-top: 20px;
}

/* TARJETAS DE FOTOS */
ion-card {
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15); /* sombra suave */
  text-align: center;
  padding-bottom: 12px;
}

/* IMAGEN */
ion-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/* TÍTULO */
ion-card-title {
  color: #b23e0c;
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
}

/* -------------------------------------
   BOTONES (EDITAR / ELIMINAR)
--------------------------------------*/
ion-card-content ion-button {
  margin-top: 12px;
  width: 100%;
  --background: #b23e0c !important;  /* fondo naranja */
  --color: #ffffff !important;        /* texto blanco */
  --border-radius: 10px;
  font-size: 15px;
}

/* EL BOTÓN ELIMINAR EN ROJO */
ion-card-content ion-button[color="danger"] {
  --background: #cc0000 !important; /* rojo */
  --color: #fff !important;          /* texto blanco */
}
