<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="alumnoForm" (ngSubmit)="guardarAlumno()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido1"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">
      {{ editandoId ? 'Actualizar Alumno' : 'Crear Alumno' }}
    </ion-button>
    <ion-button *ngIf="editandoId" expand="full" color="medium" (click)="cancelarEdicion()">
      Cancelar
    </ion-button>
  </form>

  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      {{ alumno.nombre }} - {{ alumno.apellido1 }}
      <ion-button fill="clear" color="primary" slot="end" (click)="editarAlumno(alumno)">
        Editar
      </ion-button>
      <ion-button fill="clear" color="danger" slot="end" (click)="eliminarAlumno(alumno.id)">
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
