.home-image-container {
  width: 100%;
  height: calc(100vh - 80px); 
  overflow: hidden;
}

.home-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}


.home-button,
.home-button2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}



#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container h1 {
  font-size: 20px;
  line-height: 26px;

  color: #b23e0c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-header {
  background-color: #b23e0c; 
  color: white; 
  height: 80px; 

  ion-toolbar {
    font-size: 20px; 
    justify-content: center; 
  }
}

ion-title {
  color: #b23e0c;
}


