<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Estudio Integral de Danza Gisella
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="home-image-container">
    <img src="assets/ensayo.jpg" alt="ensayo" />
  </div>

  <div class="button-container">
  <ion-button expand="block" (click)="gotoAlumnos()">
    Ir a Alumnos
  </ion-button>

  <ion-button expand="block" color="secondary" (click)="gotoNiveles()">
    Ir a Niveles
  </ion-button>

  <ion-button expand="block" color="tertiary" (click)="gotoCalendario()">
    Ver Calendario
  </ion-button>
</div>
</ion-content>
