.home-image-container {
  position: absolute;
  top: 56px; // altura del header
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // para que la imagen ocupe todo el espacio
  }
}

.button-container {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}



#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container h1 {
  font-size: 20px;
  line-height: 26px;

  color: #b23e0c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-header {
  background-color: #b23e0c; 
  color: white; 
  height: 80px; 

  ion-toolbar {
    font-size: 20px; 
    justify-content: center; 
  }
}

ion-title {
  color: #b23e0c;
}


.home-image-container img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 20px;
}

.menu-grid {
  padding: 10px;
}

.menu-card {
  text-align: center;
  padding: 10px;
  border-radius: 14px;
  --background: #ffffff;
  transition: 0.2s ease-in-out;
}

.menu-card:hover {
  transform: scale(1.05);
}

.menu-icon {
  font-size: 38px;
  margin-bottom: 8px;
  color: var(--ion-color-primary);
}

.title-center {
  text-align: center;
}
ion-content {
  --padding: 0;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* detrás del contenido */

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* para que cubra toda la pantalla */
  }
}

.bottom-cards {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-card {
  --background: rgba(255, 255, 255, 0.85);
  border-radius: 12px;
  text-align: center;
}
