.home-image-container {
  position: absolute;
  top: 56px; // altura del header
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover; // para que la imagen ocupe todo el espacio
  }
}

.button-container {
  position: absolute;
  bottom: 30px;
  left: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}



#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container h1 {
  font-size: 20px;
  line-height: 26px;

  color: #b23e0c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-header {
  background-color: #b23e0c; 
  color: white; 
  height: 80px; 

  ion-toolbar {
    font-size: 20px; 
    justify-content: center; 
  }
}

ion-title {
  color: #b23e0c;
}


