<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Estudio Integral de Danza Gisella</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="background-image">
    <img src="assets/ensayo.jpg" alt="ensayo" />
  </div>

  <div class="bottom-cards">
    <ion-card button (click)="gotoAlumnos()" class="menu-card">
      <ion-card-header>
        <ion-card-title>Alumnos</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card button (click)="gotoNiveles()" class="menu-card">
      <ion-card-header>
        <ion-card-title>Niveles</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card button (click)="gotoCalendario()" class="menu-card">
      <ion-card-header>
        <ion-card-title>Calendario</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card button (click)="gotoFotos()" class="menu-card">
      <ion-card-header>
        <ion-card-title>Fotos</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
