ion-header {
    background-color: #b23e0c; 
    color: white; 
    height: 80px; 
  
    ion-toolbar {
      font-size: 20px; 
      justify-content: center; 
    }
  }
  
  ion-title {
    color: #b23e0c;
  }